### Extracting all Videos Ids from the Uploads playlist

In [73]:
channelid='UCZSNzBgFub_WWil6TOTYwAg'
vpart='contentDetails,id,liveStreamingDetails,localizations,player,snippet,statistics,status,topicDetails'

In [27]:
from apiclient.discovery import build

In [28]:
api_key="xxxxxxxxxxxxxxxxxxxxxx" #add API key
youtube = build('youtube', 'v3', developerKey=api_key)

In [37]:
def get_channel_videos(channel_id):
    
    # get Uploads playlist id
    res = youtube.channels().list(id=channel_id, 
                                  part='contentDetails').execute()
    playlist_id = res['items'][0]['contentDetails']['relatedPlaylists']['uploads']
    
    videos = []
    next_page_token = None
    
    while 1:
        res = youtube.playlistItems().list(playlistId=playlist_id, 
                                           part="id,snippet",
                                           maxResults=50,
                                           pageToken=next_page_token).execute()
        videos += res['items']
        next_page_token = res.get('nextPageToken')
        
        if next_page_token is None:
            break
    
    return videos

In [38]:
videos=get_channel_videos(channel_id=channelid)

### Video Details for every video using it's Id

In [64]:
netflixyoutube=[]
for video in videos:
  res = youtube.videos().list(part=vpart,id=video['snippet']['resourceId']['videoId']).execute()
  netflixyoutube.append(res)

In [71]:
import json
with open('netflixyoutube.json', 'w') as f:
    json.dump(netflixyoutube, f)

### Analysis on the data

In [1]:
import json
with open('data.json', 'r') as f:
    data=json.load(f)

In [2]:
title=[]
views=[]
duration=[]
id=[]
time=[]
tags=[]
likes=[]
dislikes=[]
comments=[]
description=[]
thumbnails=[]

In [3]:

for v in data:
  duration.append(v['items'][0]['contentDetails']['duration'])
  id.append(v['items'][0]['id'])
  description.append(v['items'][0]['snippet']['description'])
  title.append(v['items'][0]['snippet']['title'])
  time.append(v['items'][0]['snippet']['publishedAt'])
  try:
    tags.append(v['items'][0]['snippet']['tags'])
  except KeyError:
    tags.append([''])
  views.append(v['items'][0]['statistics']['viewCount'])
  try:
    comments.append(v['items'][0]['statistics']['commentCount'])
  except KeyError:
    comments.append('')
  try:
    likes.append(v['items'][0]['statistics']['likeCount'])
  except KeyError:
    likes.append('')
  try:
    dislikes.append(v['items'][0]['statistics']['dislikeCount'])
  except:
    dislikes.append('')
  thumbnails.append(v['items'][0]['snippet']['thumbnails'])

### Splitting time stamp into date and time

In [5]:
videodate=[]
videotime=[]
for t in time:
  spl=t.split('T')
  date=spl[0]
  ti=spl[1].split('Z')[0]
  videodate.append(date)
  videotime.append(ti)

In [6]:
import pandas as pd
df=pd.DataFrame()

In [7]:
df["title"]=title
df["views"]=views
df["duration"]=duration
df["id"]=id
df["time"]=videotime
df["tags"]=tags
df["likes"]=likes
df["dislikes"]=dislikes
df["comments"]=comments
df["description"]=description
df["date"]=videodate
df["thumbnails"]=thumbnails

### Top 3 Videos every year

In [51]:
df['date'] = pd.to_datetime(df['date'],format='%Y-%m-%d')

In [133]:
df["views"]=df["views"].astype(int)

In [134]:
df_agg = df.groupby([df.date.dt.year]).apply(lambda x: x.sort_values(by=["views"],ascending=False).head(3))

In [135]:
df_agg

                                                       title  ...                                         thumbnails
date                                                          ...
2016 1282    Diwali with Netflix | Ad-free and Uninterrupted  ...  {'default': {'url': 'https://i.ytimg.com/vi/cD...
     1285             Diwali on Netflix Feat. Anurag Kashyap  ...  {'default': {'url': 'https://i.ytimg.com/vi/Si...
     1293                Netflix | Hooked feat. Tanmay Bhatt  ...  {'default': {'url': 'https://i.ytimg.com/vi/ST...
2017 1272  Marvel's Iron Fist | The Final Defender Has Ar...  ...  {'default': {'url': 'https://i.ytimg.com/vi/vC...
     1245          Dynasty | Official Trailer [HD] | Netflix  ...  {'default': {'url': 'https://i.ytimg.com/vi/Uq...
     1276      Serial Cheaters feat Sumeet & Nidhi | Netflix  ...  {'default': {'url': 'https://i.ytimg.com/vi/io...
2018 1107                       Netflix India‚Äôs BEST OF 2018  ...  {'default': {'url': 'https://i.ytimg.com/vi/0L...
     1225                               Heating Up | Netflix  ...  {'default': {'url': 'https://i.ytimg.com/vi/as...
     1190              Ghoul - Silent Trailer I Netflix I HD  ...  {'default': {'url': 'https://i.ytimg.com/vi/Kw...
2019 1029  Mighty Little Bheem | Bheem with a Beat | Netf...  ...  {'default': {'url': 'https://i.ytimg.com/vi/U1...
     1022  Mighty Little Bheem | Flower Adventure | Netfl...  ...  {'default': {'url': 'https://i.ytimg.com/vi/Q_...
     1039   Mighty Little Bheem | Official Trailer | Netflix  ...  {'default': {'url': 'https://i.ytimg.com/vi/4q...
2020 558   Bella Ciao Full Song | La Casa De Papel | Mone...  ...  {'default': {'url': 'https://i.ytimg.com/vi/46...
     589   Allu Arjun Boardroom Dance Scene | Ala Vaikunt...  ...  {'default': {'url': 'https://i.ytimg.com/vi/Gl...
     550   Allu Arjun Fight Scene | Ala Vaikunthapurramlo...  ...  {'default': {'url': 'https://i.ytimg.com/vi/TN...
2021 13    Tribhanga | Official Trailer | Kajol, Mithila ...  ...  {'default': {'url': 'https://i.ytimg.com/vi/zV...
     15    Allu Arjun Police Station Fight Scene | Ala Va...  ...  {'default': {'url': 'https://i.ytimg.com/vi/x7...
     11    @Kapil Sharma's Very Official Announcement | N...  ...  {'default': {'url': 'https://i.ytimg.com/vi/PD...

[18 rows x 12 columns]

In [136]:
df_agg.to_csv("top3.csv")

## Some Insights

### Creators/Guests generating the most views/videos

In [ ]:
import regex as re
#Creating a list of creators
creators=[]
for i in range(0,1310):
  if '@' in title[i]:
    l=re.findall("(?<![@\w])@(\w{1,25} (\w*))",title[i])
    for names in l:
      print(names)
      if names[0] not in creators:
        creators.append(names[0])

#### List needs to be cleaned

In [206]:
creatorscleaned=["MostlySane","MyMissAnand","MortaL",'Xyaa','Mythpat','DIVINE']
for c in creators:
  if c.split(' ')[0] not in creatorscleaned:
    creatorscleaned.append(c)

In [224]:
missedcreators=["Srishti Dixit",'Menu Please','Abish']
creators=creatorscleaned+missedcreators
creators.remove("Alia Bhatt")

In [228]:
ratio=[]
totalcount=[]
totalview=[]
for c in creators:
  count=0
  totalviews=0
  for i in range(0,1310):
    v=int(views[i])
    t=title[i]
    if c in t:
      count=count+1
      totalviews+=v
  try:
    ratio.append(totalviews/count)
    totalview.append(totalviews)
    totalcount.append(count)
  except ZeroDivisionError:
    ratio.append(0)

In [231]:
creator_performance=pd.DataFrame()
creator_performance["creator"]=creators
creator_performance["total views"]=totalview
creator_performance["video count"]=totalcount
creator_performance["views/video"]=ratio

In [233]:
creator_performance.sort_values(by="views/video")

              creator  total views  video count   views/video
47      Ankur Kashyap        39045            1  3.904500e+04
50         Be YouNick        41440            1  4.144000e+04
41       Melvin Louis        44534            1  4.453400e+04
5              DIVINE        66847            1  6.684700e+04
14    Anshuman Sharma       104295            1  1.042950e+05
44   Tadpatri Talkies       108245            1  1.082450e+05
30        BeerBiceps        383177            3  1.277257e+05
45    Sucharita Tyagi       144403            1  1.444030e+05
48      Khooni Monday       166026            1  1.660260e+05
20       Varun Thakur      1058927            5  2.117854e+05
31       Barkha Singh      2033029            9  2.258921e+05
32       Varun Grover       236001            1  2.360010e+05
3                Xyaa       552672            2  2.763360e+05
40       The Trinetra       314848            1  3.148480e+05
55        Menu Please     11084142           29  3.822118e+05
2              MortaL      1153464            3  3.844880e+05
23          OK Tested      1183961            3  3.946537e+05
9         Dolly Singh      6041812           15  4.027875e+05
38     Radhika Bangia       403167            1  4.031670e+05
37        Sejal Kumar       403167            1  4.031670e+05
0          MostlySane      3306297            8  4.132871e+05
11        Niharika Nm       418389            1  4.183890e+05
56              Abish      5445511           13  4.188855e+05
28       Dhruv Rathee      5482907           13  4.217621e+05
27      Jasleen Royal       427917            1  4.279170e+05
54      Srishti Dixit     21092500           48  4.394271e+05
19       Kaneez Surka      2402880            5  4.805760e+05
29          The Motor       486022            1  4.860220e+05
49      Rajeev Masand       499850            1  4.998500e+05
17            Vir Das      7586349           15  5.057566e+05
16       Kusha Kapila     30135023           58  5.195694e+05
51         Kanan Gill      7281556           14  5.201111e+05
46    Jordindian Cook       551444            1  5.514440e+05
43    Dulquer Salmaan      2275255            4  5.688138e+05
24      Pearle Maaney      1199934            2  5.999670e+05
15      Anubhav Singh       612995            1  6.129950e+05
52     Yahya Bootwala       622567            1  6.225670e+05
13        Rohan Joshi      4695589            7  6.707984e+05
25    Kenny Sebastian      6288293            9  6.986992e+05
6         Tanmay Bhat     20249395           28  7.231927e+05
26      Prateek Kuhad      2187727            3  7.292423e+05
10        Samay Raina      2824996            3  9.416653e+05
22   Rannvijay Singha      3231063            3  1.077021e+06
53        Kunal Kamra      1158900            1  1.158900e+06
12   Triggered Insaan      4228272            3  1.409424e+06
7        Kapil Sharma      1430422            1  1.430422e+06
34        Suhani Shah      1520224            1  1.520224e+06
33      Techno Gamerz      1520224            1  1.520224e+06
1         MyMissAnand      3264814            2  1.632407e+06
8         Slayy Point     15658665            9  1.739852e+06
35       Flying Beast      1900469            1  1.900469e+06
42    Yashraj Mukhate      2139965            1  2.139965e+06
4             Mythpat     21415142            8  2.676893e+06
18  ashish chanchlani     15614720            5  3.122944e+06
39      Harsh Beniwal      3353987            1  3.353987e+06
36       Amit Bhadana      4004767            1  4.004767e+06
21              BB Ki     13588890            2  6.794445e+06

In [234]:
creator_performance.to_csv("creator_performance.csv")

### A Comparative Analysis on Shows

In [307]:
shows=["Menu Please","Now Memeing","@Tanmay Bhat &","@Tanmay Bhat Reacts","Grandma","Behensplaining","Decode with","f Abish"]

In [308]:
s=[]
showname=[]
for t in df.title:
  if any(show in t for show in shows):
    s.append(True)
  else:
    s.append(False)
df["series"]=s
showdf=df[df.series==True]

In [309]:
for t in showdf.title:
  for show in shows:
    if show in t:
      showname.append(show)

In [311]:
showname_clean=[]
for s in showname:
  if "@Tanmay" in s:
    showname_clean.append("Tanmay Reacts")
  elif 'f Abish' in s:
    showname_clean.append("Son of Abish")
  elif 'Decode' in s:
    showname_clean.append("Decode with Dhruv")
  elif "Grandma" in s:
    showname_clean.append("Grandma Reacts")
  else:
    showname_clean.append(s)

In [312]:
showdf["showname"]=showname_clean

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [313]:
showdf1=showdf.groupby(showdf.showname)

In [321]:
showdf["likes"]=showdf['likes'].astype(int)
showdf["comments"]=showdf['comments'].astype(int)
showdf["dislikes"]=showdf['dislikes'].astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [351]:
showdf['date'] = pd.to_datetime(showdf['date'],format='%Y-%m-%d')
last5ep=showdf.groupby('showname').apply(lambda x: x.sort_values(by=["date"],ascending=False).head(5))

In [340]:
showdf.to_csv("showdf.csv")

In [347]:
showdf["popularity"]=showdf["likes"]/showdf["views"]

In [354]:
last5ep.to_csv("last5ep.csv")

### Optimal Duration

In [8]:
duration=[]
for v in data:
  duration.append(v['items'][0]['contentDetails']['duration'])
df["duration"]=duration
duration=[]
for d in df.duration:
  d=d.replace('PT','')
  d=d.replace('S','')
  d=d.replace("M",":")
  d=d.replace("H",":")
  duration.append(d)

In [9]:
#fixing shit now ugh
duration1=[]
print(duration)
for d in duration:
  if d.endswith(":"):
    d=d+"00"
  if ":" not in d:
    d="0:"+d
  duration1.append(d)

['2:2', '2:3', '1:8', '2:35', '4:36', '1:50', '20:19', '2:12', '1:57', '2:13', '3:20', '1:13', '2:39', '2:', '4:39', '3:4', '43:5', '33', '2:13', '2:3', '11:4', '56', '1:28', '3:2', '1:49', '2:31', '6:41', '30:40', '11:59', '4:', '1:7', '8:15', '6:33', '3:5', '26:8', '5:2', '2:40', '59', '8:33', '7:35', '3:9', '14:44', '5:3', '4:6', '8:53', '6:24', '3:13', '3:2', '3:55', '2:54', '32:12', '4:10', '6:57', '2:56', '2:7', '41', '7:', '4:8', '41', '3:49', '5:43', '41', '5:45', '30', '11:7', '4:55', '34:36', '2:33', '3:8', '1:58', '2:49', '2:18', '2:25', '6:33', '2:30', '2:44', '1:48', '53:31', '1:59', '2:12', '2:59', '7:32', '33:8', '1:6', '2:51', '3:', '12:25', '2:35', '2:3', '32:56', '2:11', '6:12', '1:11', '7:16', '1:30', '6:1', '23:39', '6:55', '5:58', '9:15', '30:25', '8:53', '4:27', '41', '15:1', '2:13', '1:41', '25:19', '14:42', '3:16', '1:5', '3:6', '4:1', '2:27', '13:4', '3:5', '33:27', '2:14', '2:15', '1:37:48', '7:35', '30', '30', '31', '47', '2:26', '1:48', '14:41', '3:7', '2:49', '1:20', '8:3', '1:40:56', '3:28', '4:26', '1:6', '1:10', '1:8', '1:1', '1:11', '34:8', '39', '2:27:31', '42', '2:17', '15:41', '6:49', '1:9', '41', '3:18', '15:24', '3:29', '2:7', '1:44', '3:4', '4:42', '2:57', '7:58', '1:33', '5:17', '10:11', '2:38', '11:3', '1:22', '5:46', '3:6', '1:40', '2:24', '1:24', '7:19', '5:27', '1:7', '1:26', '1:50', '5:28', '2:38', '12:42', '2:16', '6:29', '5:37', '2:28', '15:27', '2:11', '1:46', '41', '14:23', '3:', '1:22', '18:52', '3:49', '2:19', '1:55', '7:49', '1:43', '5:58', '3:27', '4:3', '3:39', '15:21', '9:19', '1:13', '2:47:10', '2:48', '11:55', '2:15', '8:19', '1:33', '10:4', '1:43', '1:9', '6:52', '3:51', '15:13', '19:22', '7:2', '2:16', '2:55', '4:30', '1:39', '1:54', '3:26', '11:15', '3:4', '2:3', '1:16', '1:24', '6:8', '1:29', '3:9', '5:47', '15:51', '1:46', '2:5', '3:19', '7:32', '31', '2:', '2:31', '9:26', '15:5', '2:59', '10:46', '3:18', '17:28', '2:50', '4:39', '4:30', '1:55', '5:11', '4:2', '1:49', '3:33', '5:', '1:15', '1:40', '2:20', '5:53', '2:42', '11:51', '6:9', '5:2', '1:39', '56', '8:28', '4:11', '2:45', '4:21', '41', '2:22', '2:44', '1:56', '14:51', '2:43', '15:24', '3:38', '2:47', '2:45', '5:16', '15:52', '3:41', '3:14', '8:41', '1:17', '11:26', '2:57', '2:3', '1:41', '1:10', '6:23', '3:7', '1:11', '17:51', '2:30', '1:10', '15:5', '8:32', '7:16', '9:', '2:55', '4:3', '2:36', '1:24:56', '5:33', '3:48', '3:53', '8:17', '2:41', '3:12', '2:16', '4:1', '14:43', '2:49', '1:59', '1:43', '2:22', '2:43', '2:28', '2:5', '3:40', '3:49', '8:12', '2:2', '2:19', '6:26', '15:11', '1:41', '2:29', '2:41', '6:6', '13:1', '1:18', '4:42', '8:56', '2:57', '18:2', '5:24', '2:23', '3:45', '54', '3:23', '1:16', '3:35', '2:11', '3:37', '2:3', '3:7', '3:50', '8:49', '2:19', '18:50', '1:55', '1:33', '1:53', '3:31', '53', '8:7', '2:33', '2:6', '2:47', '6:30', '2:33', '2:23', '2:18', '2:', '2:24', '3:13', '1:34', '2:45', '4:40', '3:3', '6:36', '4:20', '3:21', '7:47', '2:42', '24:48', '8:1', '3:37', '1:26', '1:9', '40:22', '2:4', '5:49', '12:4', '1:51', '7:17', '2:47', '5:59', '2:48', '18:14', '1:43', '1:51', '2:32', '10:24', '1:42', '2:2', '2:17', '9:17', '2:7', '2:51', '1:35', '1:55', '2:39', '2:20', '2:34', '2:36', '18:59', '2:53', '6:39', '2:6', '1:38', '21:57', '2:41', '4:37', '2:45', '2:14', '2:20', '2:31', '4:4', '7:3', '2:32', '2:27', '2:37', '3:22', '2:36', '4:8', '2:42', '6:35', '10:8', '3:12', '2:7', '2:43', '13:6', '3:48', '3:13', '9:4', '4:52', '2:31', '20:27', '13:34', '2:2', '7:9', '2:26', '9:42', '47:18', '2:1', '8:54', '1:12', '3:10', '10:44', '3:50', '6:54', '4:28', '19:42', '3:56', '4:14', '3:29', '3:5', '6:36', '4:49', '18:12', '7:13', '2:7', '7:30', '4:57', '10:34', '2:30', '7:8', '1:7:56', '7:12', '19:27', '2:23', '1:25', '2:44', '2:11', '1:32', '3:6', '2:44', '2:53', '1:8:14', '1:57', '1:58', '4:19', '1:54', '3:15', '2:21', '2:45', '4:10', '13:13', '1:54', '7:7', '2:27', '2:40', '2:35', '4:19', '4:37', '6:', '4:35', '3:38', '5:52', '3:50', '8:47', '58', '1:14', '4:30', '1:1', '3:4', '1:', '19:45', '8:52', '3:43', '13:47', '2:53', '3:10', '6:27', '2:51', '2:24', '4:44', '2:2', '11:47', '10:33', '8:40', '1:44', '1:58', '2:6', '3:', '3:48', '2:24', '4:58', '2:45', '2:45', '2:33', '4:15', '3:39', '8:9', '10:30', '2:38', '3:29', '3:3', '4:17', '5:32', '2:38', '2:40', '16:22', '10:11', '3:23', '4:18', '2:36', '2:8', '2:19', '1:52', '11:55', '7:3', '9:38', '2:24', '12:37', '2:38', '5:37', '2:38', '1:51', '1:18', '10:59', '9:57', '8:34', '1:38', '4:24', '1:11', '2:34', '7:55', '2:12', '4:50', '12:34', '2:23', '37', '1:54', '3:19', '2:26', '2:15', '2:12', '1:47', '2:16', '4:33', '2:45', '6:54', '1:52', '3:51', '7:43', '5:21', '1:52', '2:27', '1:45', '55', '2:24', '4:52', '1:18', '10:41', '4:52', '8:58', '1:51', '8:6', '1:30', '3:46', '2:31', '58', '4:27', '8:58', '1:16', '4:57', '2:25', '4:4', '2:14', '4:38', '5:25', '57', '2:50', '3:42', '2:46', '2:37', '4:53', '2:36', '3:50', '4:16', '2:20', '5:54', '4:4', '1:36', '17:', '6:55', '12:34', '5:7', '2:47', '4:2', '6:18', '1:52', '2:4', '1:53', '1:54', '2:23', '2:29', '1:46', '2:28', '4:12', '1:42', '12:11', '2:11', '1:24', '12:34', '4:28', '3:59', '2:46', '2:33', '57', '1:54', '2:44', '3:6', '6:59', '2:2', '1:10', '4:22', '2:21', '2:31', '6:28', '6:42', '2:23', '2:9', '1:42', '2:30', '39:32', '2:3', '7:54', '1:33', '2:54', '1:23', '30:2', '3:51', '1:55', '4:12', '2:19', '1:37', '2:4', '1:19', '8:4', '3:51', '1:31', '35:27', '2:46', '1:56', '2:36', '2:17', '2:24', '2:18', '2:19', '2:17', '7:33', '3:50', '1:41', '1:15', '1:46', '5:34', '2:39', '4:14', '2:32', '1:37', '1:29', '8:36', '2:19', '1:37', '25:7', '1:48', '3:15', '2:17', '31', '45', '3:3', '2:50', '8:44', '34', '1:54', '1:58', '1:26', '8:41', '4:23', '5:2', '3:3', '10:20', '2:11', '8:5', '31:47', '1:', '2:13', '3:38', '1:34', '1:41', '1:29', '1:16', '8:20', '2:21', '2:33', '5:17', '2:33', '1:44', '2:34', '3:42', '2:5', '1:29', '2:40', '10:42', '3:21', '2:32', '4:40', '29:5', '1:11', '1:44', '1:39', '8:26', '1:19', '4:29', '2:8', '4:12', '1:53', '2:19', '1:35', '8:58', '2:14', '4:52', '1:29', '50', '1:50', '1:19', '2:18', '5:6', '9:50', '1:2', '2:44', '4:24', '9:2', '40', '2:11', '29:40', '2:12', '2:1', '1:29', '3:31', '1:17', '2:9', '2:10', '53', '2:', '2:13', '2:1', '3:4', '2:12', '54', '2:6', '1:51', '3:33', '1:35', '11:2', '1:53', '1:45', '2:34', '2:24', '2:12', '1:30', '3:15', '7:57', '2:31', '4:56', '10:42', '1:59', '1:49', '1:57', '44', '1:56', '1:14', '3:27', '2:43', '3:3', '2:57', '2:18', '2:1', '7:10', '9:33', '2:32', '54', '2:52', '3:8', '6:19', '1:26', '1:31', '2:32', '1:23', '7:9', '2:6', '1:53', '6:38', '2:24', '49', '2:7', '1:42', '2:22', '1:1', '4:20', '1:29', '7:29', '2:12', '1:46', '1:45', '2:33', '1:24', '1:35', '10:40', '1:9', '6:42', '3:15', '1:41', '1:15', '39', '3:8', '39', '1:23', '1:13', '2:27', '1:10', '7:26', '2:36', '1:32', '1:31', '28', '1:25', '1:56', '3:46', '3:12', '15:22', '2:22', '3:22', '6:', '1:41', '2:45', '2:5', '1:15', '1:21', '1:34', '3:14', '1:1', '1:14', '2:54', '2:26', '54', '2:21', '4:41', '1:25', '1:7', '2:17', '3:7', '3:2', '5:56', '2:15', '1:3', '2:7', '2:23', '4:36', '13:12', '2:19', '38', '30', '6:30', '3:32', '2:26', '1:8', '58', '1:24', '2:38', '24', '4:11', '3:13', '2:4', '2:36', '3:9', '2:30', '51', '36', '2:5', '6:14', '2:35', '1:35', '4:4', '2:10', '9:1', '54', '2:2', '4:24', '6:49', '21', '44', '2:58', '8:21', '55', '2:8', '4:32', '1:3', '1:14', '2:57', '1:56', '1:50', '8:19', '2:35', '9:17', '2:22', '2:30', '2:13', '7:21', '1:58', '2:17', '5:9', '7:9', '1:34', '2:10', '1:41', '1:50', '52', '2:13', '1:47', '6:52', '39', '31', '2:16', '1:57', '1:23', '2:36', '1:42', '58', '15', '1:13', '2:19', '2:17', '5:2', '1:31', '8:28', '36', '1:41', '1:24', '34', '7:27', '1:27', '2:34', '2:8', '33', '2:4', '52', '6:5', '1:26', '1:25', '2:6', '1:32', '1:38', '1:40', '1:1', '2:1', '6:22', '1:35', '1:51', '4:18', '2:35', '2:37', '6:32', '1:12', '31', '1:43', '2:3', '1:36', '1:41', '1:57', '2:3', '5:57', '1:10', '1:56', '2:7', '33', '1:58', '27', '2:52', '4:14', '1:57', '30', '2:38', '1:56', '44', '3:16', '3:16', '23', '18', '23', '23', '23', '23', '23', '23', '23', '1:1', '1:45', '2:45', '1:36', '2:2', '1:32', '1:53', '1:37', '58', '1:49', '1:30', '1:30', '1:39', '2:37', '2:19', '2:10', '56', '1:51', '1:52', '1:28', '51', '2:3', '6:2', '2:', '2:23', '2:15', '2:4', '25', '2:39', '1:19', '1:1', '2:49', '46', '1:58', '2:26', '1:35', '1:41', '16', '2:38', '2:27', '2:29', '1:32', '2:3', '2:3', '47', '1:8', '38', '2:29', '2:8', '1:5', '1:7', '2:', '1:48', '2:4', '2:45', '1:9', '1:31', '2:6', '2:9', '2:27', '3:17', '2:51', '1:37', '2:14', '2:', '3:', '1:1', '1:1', '3:49', '46', '2:1', '37:21', '5:31', '2:16', '2:5', '1:41', '1:17', '1:39', '1:38', '2:54', '1:29', '2:6', '2:15', '31', '1:46', '2:20', '1:50', '45', '1:14', '1:37', '5:32', '2:30', '1:56', '1:46', '2:38', '43', '2:18', '1:30', '1:19', '52', '2:30', '2:33', '3:15', '1:9', '1:44', '2:46', '55', '2:16', '1:1', '25', '1:35', '4:4', '1:39', '2:14', '2:56', '1:59', '1:38', '16', '2:1', '2:27', '2:22', '1:55', '1:6', '59', '2:18', '3:21', '2:28', '1:1', '1:21', '2:46', '51', '2:26', '46', '1:31', '1:39', '41', '43', '25', '30', '2:52', '1:41', '2:16', '1:57', '2:8', '2:11', '1:54', '1:43', '2:15', '1:29', '1:28', '56', '1:', '46', '27', '2:3', '42', '1:41', '54', '1:34', '2:27', '1:28', '46', '35', '2:24', '2:37', '2:29', '41', '1:58', '51', '1:49', '55', '1:26', '2:17', '56', '2:26', '1:50', '1:27', '2:40', '1:46', '55', '2:25', '3:51', '1:54', '2:58', '2:9', '2:2', '31', '31', '31', '2:56', '1:43', '28', '1:1', '1:22', '1:44', '2:19', '2:43', '2:27', '1:23', '1:7', '54', '58', '2:7', '2:31', '2:30', '48', '3:44', '2:5', '2:24', '1:24', '1:44', '2:41', '2:6', '1:18', '3:20', '2:8', '2:1', '2:16', '2:28', '3:45', '1:51', '1:49', '2:8', '5:1', '35', '2:12', '41', '1:14', '2:1', '2:53', '31', '31', '2:15', '31', '2:10', '2:32', '1:42', '1:32', '1:33', '21', '2:11', '1:13', '38', '35', '2:24', '1:44', '1:', '2:22', '1:43', '1:41', '2:27', '1:40', '2:21', '1:53', '2:8', '2:28', '1:25', '30', '1:7', '51', '1:41', '53', '1:45', '3:5', '1:6', '3:6', '8:41', '3:21', '1:1', '45', '45', '27']

In [ ]:
#more shitfixing
duration=[]
duration_sec=[]
for d in duration1:
  t=d.split(":")
  if len(t)==2:
    minute=t[0]
    second=t[1]
    hour=00
  else:
    hour=t[0]
    hr=t[0]
    minute=t[1]
    second=t[2]
  if int(second)<10:
    second="0"+second
  if int(minute)<10:
    minute="0"+minute
  duration.append(str(hour)+":"+minute+":"+second)
  print(minute)
  duration_sec.append((int(second)+int(minute)*60+int(hour)*3600))

In [ ]:
duration_sec

In [ ]:
df["duration"]=duration
df["duration_sec"]=duration_sec
df.sort_values(by="duration_sec")

In [36]:
import numpy as np
df_duration=df[df["duration_sec"]<600]
bins = np.linspace(df_duration.duration_sec.min(), df_duration.duration_sec.max(), 30)

In [39]:
df["views"]=df["views"].astype(int)
groups = df_duration.groupby(np.digitize(df_duration.duration_sec, bins))

In [48]:
optimal_duration=groups.mean()

In [50]:
optimal_duration.to_csv("optimal_duration.csv")

### Days of the week Videos do best

In [56]:
df["dayoftheweek"]=df["date"].dt.day_name()

In [59]:
optimal_day=df.groupby(by="dayoftheweek").mean()

In [61]:
optimal_day.to_csv("optimal_day.csv")

In [105]:
optimal_day

                     views  duration_sec
dayoftheweek
Friday        1.225501e+06    334.187500
Monday        1.014532e+06    289.130682
Saturday      7.338042e+05    388.891892
Sunday        1.008322e+06    269.576271
Thursday      5.863760e+05    274.414530
Tuesday       1.219512e+06    190.917949
Wednesday     3.270312e+06    222.824074

### Best Time to Post

In [65]:
df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S').dt.hour

In [86]:
bins = np.linspace(df.time.min(), df.time.max(), 24)
groups = df.groupby(np.digitize(df.time, bins))

In [88]:
optimal_time=groups.mean()
optimal_time.to_csv("optimal_time.csv")

### Analysis on Video Tags
Top 100 Tags

In [106]:
df.explode("tags").groupby("tags").mean().sort_values("views",ascending=False)

                            views       time  duration_sec
tags
Drums                1.065618e+08   8.000000    147.800000
Shows for kids       9.205445e+07   8.285714    147.428571
Jungle               7.731177e+07   8.000000    151.000000
Mighty Little Bheem  7.324198e+07   9.222222    157.111111
Kids                 6.780417e+07   6.888889    149.000000
...                           ...        ...           ...
Millie Brown         6.110000e+02  19.000000    521.000000
Ross Duffer          6.110000e+02  19.000000    521.000000
Charlie Heaton       6.110000e+02  19.000000    521.000000
Opener               6.110000e+02  19.000000    521.000000
Sneak Peek           6.110000e+02  19.000000    521.000000

[11413 rows x 3 columns]

In [104]:
top100tags.to_csv("top100tags.csv")